{% extends 'base.html' %}

{% block title %}

{% comment %}
{% endcomment %}

Добавление новости :: {{ block.super }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}

<h1>Добавление новости</h1>
<form action="{% url 'add_news' %}" method="post">
    {# Защита от csrf-уязвимости #}
    {% csrf_token %}


    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block mt-3"> Добавить новость</button>

<!--Далее в тегах comment - два разных способа вывода форм-->

    {% comment %}
    {{ form.non_field.errors }}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Название:</label>
        {{ form.title }}
        <div class="invalid-feedback">{{ form.title.errors }}</div>
    </div>

    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Текст:</label>
        {{ form.content }}
        <div class="invalid-feedback">{{ form.content.errors }}</div>
    </div>

    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Опубликовано?</label>
        {{ form.is_published }}
        <div class="invalid-feedback">{{ form.is_published.errors }}</div>
    </div>

    <div class="form-group mt-2">
        <label for="{{ form.title.id_for_label }}">Категория:</label>
        {{ form.category }}
        <div class="invalid-feedback">{{ form.category.errors }}</div>
    </div>

    <button type="submit" class="btn btn-primary btn-block mt-3"> Добавить новость</button>
    {% endcomment %}

    {% comment %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <div class="invalid-feedback">
            {{ form.category.errors }}
        </div>

    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block mt-3"> Добавить новость</button>
    {% endcomment %}


</form>

{% endblock %}



